@import url('https://fonts.googleapis.com/css?family=Krub');

p {
  margin: 3px;
  padding: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.container {
  display: flex;
  flex-direction: column;
  width: 250px;
  font-family: Krub, sans-serif;
  padding: 10px;
  margin: 10px;
  background-color: #dee5ae;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
}

.itemName {
  margin: 3px;
}

.moneySpent {
  margin: 3px 10px 3px 3px;
  width: 120px;

}

.submitButton {
  padding: 3px;
  width: 100px;
}